@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=vietnamese');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodi {
 
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.653);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  text-shadow: 0 .2px .3px rgba(0, 0, 0, 0.353);
  background-size: cover;

}

/***/
/* 
 */
/***/

img {
  max-width: 100%;
}

.box {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0, .1);
  padding: 1rem;
  width: 60%;
  border-radius: 26px;
}

.about {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
  margin-top: 10px;
  position: relative;
}

.info:first-child {
  flex-grow: 1;
}

.info {
  display: flex;
  align-items: center;
}

.info:last-child .avatar {
  order: 2;
}

.info:last-child .details {
  text-align: right;
}

.avatar {
  width: 70px;
  border-radius: 50%;
}

.info .details {
  margin: 0 1rem;
}

.info .details p {
  margin: 4px;
}

.name {
  font-size: 15px;
  text-transform: uppercase;
}

.born {
  font-weight: 300;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time h2, .time p {
  margin: 0;
  margin-bottom: 4px;
}

.time h2 {
  font-size: 2.8rem;
}

.time p {
  font-size: 1.5rem;
}

.sup-time {
  font-weight: 300;
}

.say-thank {
  text-align: center;
  margin-top: 6rem;
  font-weight: 100;
  color: tomato;
  opacity: .8;
  margin-bottom: 0;
}
.say-sorry {
  text-align: center;
  font-weight: 100;
  color: rgb(0, 0, 0);
  opacity: .8;
  margin-bottom: 0;
}

.title1 {
  opacity: .7;
}

.heart {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  transform-origin: 50% 50%;
  opacity: .8;
  animation: heartBeat 1s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(.9);
  }
}

@media (max-width: 997px) {
  .box {
    width: 84%;
    margin-bottom: 2rem;
  }

  .title {
    margin: 2rem 0 1rem 0;
    font-size: 18px;
  }
  
  .about {
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0;
  }

  .info {
    flex-direction: column;
  }

  .avatar {
    margin-bottom: .5rem;
  }

  .info p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 13px;
  }

  .info:last-child .avatar {
    order: 0;
  }

  .heart {
    position: relative;
    margin: 1.4rem 0;
  }

  .say-thank {
    margin-top: 2rem;
  }
}
.hero{
  margin-top: 40px;
  height:100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}
nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 100px;
  cursor: pointer;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: var(--secondary-color);
}
nav ul li a:hover{
  color: #ff4321;
}
.info{
  margin-left: 8%;
  margin-top: 15%;
  display: inline-block;
}
.info h1{
 
  color: var(--secondary-color);
  margin-bottom: 20px;
}
span{
  color:#ff4321;
}
.info p{
  color:var(--secondary-color);
  line-height: 22px;
}
.info .button{
  background: var(--secondary-color);
  padding: 12px 18px;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.button:hover{
  background-color: #ff4321;
}
.img-box{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;

}
.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.img-box:hover .main-img{
  left: 54%;
}
.social-links{
  margin-left:8%;
 
}
.social-links a{
  font-size:30px;
  color:var(--secondary-color);
  margin-right: 20px;
}
.social-links a:hover{
  color: #ff4321;
}
#icon{
  width:30px;
  cursor: pointer;
}
nav ul {
  flex:1;
  text-align: right;
}
:root{
  --primary-color:#edf2fc;
  --secondary-color:#212121;

}
.dark-theme{
  --primary-color:#000106;
  --secondary-color:#fff;
}